body {
    color: black;
}

.homeMargin{
    margin-top:0%;
}


.toolbar-title-ios{
    font-family: 'Questrial';
    font-size: 25px;
}

h2{
    font-family: 'Questrial';
   
}

p{
    font-family: 'Questrial';
}